<div class="container">
<form  [formGroup]="login" (ngSubmit)="onSubmit(login.value)" >

<div>
<label>
Username:
<input type="text" id="username" formControlName="username">

</label>


</div>
<div>
  <label>
  Password:
  <input type="password" id="password" formControlName="password">
  </label>
  </div>
<button type="submit" >Log</button>
</form>
</div>