.table {
    width: 80%;
  }
  
  .table-container {
    text-align: center;
    width: 100%;
    margin-left: 10%;
  }
  
  .coopButton {
    margin: 0px 12px;
  }
  
  .coopButtonAdd {
    margin: 11px 153px;
    width: 115px;}