<!--<h1>
    Product 
  </h1>
  <ul>
    <li *ngFor="let Product of products">
      Id = {{Product.id}},
      Name = {{Product.name}},
  </ul>
  <div>{{birthdate|date:"yyyy/MM/dd"}}</div>
  <div>{{birthdate|date}}</div>
  <div>{{birthdate|date |uppercase}}</div>

</div>-->
<div class="table-container">
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">balance</th>
        <th scope="col">branch</th>
        <th scope="col">owner</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of accounts">
        <th scope="row">{{account.id}}</th>
        <td>{{account.name}}</td>
        <td>{{account.balance}}</td>
        <td>{{account.branch}}</td>
        <td>{{account.owner}}</td>
        <td>
          <button type="button" class="coopButton btn btn-info">Update</button>
          <button type="button" class="coopButton btn btn-danger" (click)="deleteaccount(account.id)">Delete</button>
        </td>
      </tr>
  </table>
</div>
