<!--The content below is only a placeholder and can be replaced.-->
<!--<app-navbar></app-navbar>-->
<router-outlet></router-outlet>


<!--<div style="text-align:center">
  <h1>
   Welcome to {{ name }}! <br><br>
    {{title}}<br>
    {{subtitle}}
  </h1>

</div>
<div>
  Name : {{user}} <br>
  <input type="text" [(ngModel)]="user"/>
</div>
<br>
<Button [disabled]="!dataloaded" (click)="buttonclicklogin($event)">Log in</Button><br>



<div>
  <app-product>

  </app-product>
</div>

<app-sidebar class="footer"></app-sidebar>
<app-login></app-login>
route krn ewa nisa tami 
-->
